---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import About from '@components/About.astro'
import Footer from '@components/Footer.astro'
import Billboard from '@components/Billboard.astro'
// import PostFeatImg from '@components/PostFeatImg.astro'

const { content } = Astro.props
---

<html lang="en">
	<head>
		<Head {...content} />
	</head>

	<body>
		<Header />
    <main>
			<Billboard
				{...content}
			/>
			<About>
				<slot />
			</About>
    </main>
    <Footer />
	</body>
</html>
